.stbody{
    background-color: rgb(62, 148, 170);
    margin: 0%;
    padding: 0%;
    height: 0%;
}

.stbody h1{
    text-align: center;
    font-size: 39px;
    box-shadow: 5px 0px 37px;
}

.firtGalery{
    width: 300px;
    height: 200px;
    border: 3px solid rgb(55, 0, 255);
    margin: auto;
    background-size: 300px 300px;
    animation-name: h;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    font-optical-sizing: 50px;
    
    

}

@keyframes h{
    0%, 15% {
        background-image: url(1.jpg);
    
    }
    
    16%, 22% 
        {background-image: url(2.jpg);
    
    }
        
    23%, 33% {
        background-image: url(3.jpg);
        
    }
    34%, 40% {
        background-image: url(4.jpg);
    }
    41%, 49% {
        background-image: url(5.jpg);
    }
    50%, 56% {
        background-image: url(6.jpg);
    }
    57%, 61% {
        background-image: url(7.jpg);
    }
    62%, 69% {
        background-image: url(8.jpg);
    }
    70%, 76% {
        background-image: url(9.jpg);
    }
    77%, 85% {
        background-image: url(10.jpg);
    }
    86%, 93% {
        background-image: url(11.jpg);
    }
    94%, 100% {
        background-image: url(12.jpg);
    }

   
    
}



.secondGalery{
    width: 300px;
    height: 200px;
    border: 3px solid rgb(0, 255, 76);
    margin: auto;
    background-size: 300px 300px;
    animation-name: m;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    font-optical-sizing: 50px;
    
    

}

@keyframes m{

    0%, 30% {
        background-image: url(13.jpg);
    }
    31%, 55% {
        background-image: url(14.jpg);
    }
    56%, 71% {
        background-image: url(15.jpg);
    }
    72%, 88% {
        background-image: url(16.jpg);
    }
    89%, 95% {
        background-image: url(17.jpg);
    }
    96%, 100% {
        background-image: url(18.jpg);
    }
}