.stbody{
    background-color: rgb(62, 148, 170);
}

.stbody h1{
    text-align: center;
    font-size: 39px;
    box-shadow: 5px 0px 37px;
}

.firtGalery{
    width: 500px;
    height: 300px;
    border: 3px solid rgb(55, 0, 255);
    margin: auto;
    background-size: 500px 300px;
    animation-name: h;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    

}

@keyframes h{
    0%, 30% {
        background-image: url(1.jpg);
        
    }
    
    31%, 51% 
        {background-image: url(2.jpg);
    
    }
        
    52%, 64% {
        background-image: url(3.jpg);
        
    }
    65%, 79% {
        background-image: url(4.jpg);
    }
    80%, 91% {
        background-image: url(5.jpg);
    }
    92%, 100% {
        background-image: url(6.jpg);
    }
    0%, 30% {
        background-image: url(7.jpg);
    }
    31%, 51% {
        background-image: url(8.jpg);
    }
    52%, 64% {
        background-image: url(9.jpg);
    }
    65%, 79% {
        background-image: url(10.jpg);
    }
    80%, 91% {
        background-image: url(11.jpg);
    }
    92%, 100% {
        background-image: url(12.jpg);
    }
    
}